.navbar {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar-brand {
  margin: 0;
  font-size: 24px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #212529;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.nav-link:hover {
  background-color: #dee2e6;
}

.active {
  background-color: #007bff;
  color: #fff;
}